/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

*, :after, :before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --header-color: #D14836;
  --project-section1: #49c5b6;
  --project-section2: #2779a7;

}


html {
  scroll-behavior: smooth;
  font-size: 62.5%;
  font-family: 'Lilita One', sans-serif;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

img {
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  aspect-ratio: 16 / 9;
  height: 100%;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}



a:visited {
  color: #fff;
}

a:active {
  color: #fff;
}

a {
  color: #fff;
}

#navbar {
  position: fixed;
  top: 0;
  background-color: var(--header-color);
  width: 100vw;
  overflow: hidden;
  border-radius: 5px;
  -webkit-box-shadow: 10px 1px 1px rgb(51, 51, 51);
  box-shadow: 10px 1px 1px rgb(51, 51, 51);
  padding: 0 20px;
  border-bottom: 3px solid rgba(244, 244, 244, 0.838);
}








#navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
  -ms-flex-pack: right;
  justify-content: right;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 30px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

}

#navbar ul li {
  color: rgba(244, 244, 244, 0.838);
  font-size: 2.2rem;
  padding: 20px 20px;
  margin: 0 10px 0 10px;
  text-transform: uppercase;
  letter-spacing: 0.6rem;
  font-family: 'Lilita One', sans-serif;
}



#navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
  -ms-flex-pack: right;
  justify-content: right;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 30px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

}



#navbar ul li:hover {
  background-color: var(--project-section1);
  color: var(--header-color)
}

#welcome-section {
  height: 100vh;
  background: -webkit-gradient(linear,
      left bottom, right top,
      from(rgba(8, 8, 8, 0.743)), color-stop(5%, rgba(8, 8, 8, 0.77)), to(rgba(0, 0, 0, 0.859)));
  background: -o-linear-gradient(bottom left,
      rgba(8, 8, 8, 0.743)0%, rgba(8, 8, 8, 0.77)5%, rgba(0, 0, 0, 0.859));
  background: linear-gradient(to top right,
      rgba(8, 8, 8, 0.743)0%, rgba(8, 8, 8, 0.77)5%, rgba(0, 0, 0, 0.859));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 20px;
}

#welcome-section img {
  width: 50%;
}

.amper {
  color: white;
  background: -webkit-gradient(linear,
      left bottom, right top,
      from(rgba(8, 8, 8, 0.743)), color-stop(5%, rgba(8, 8, 8, 0.77)), to(rgba(0, 0, 0, 0.859)));
  background: -o-linear-gradient(bottom left,
      rgba(8, 8, 8, 0.743)0%, rgba(8, 8, 8, 0.77)5%, rgba(0, 0, 0, 0.859));
  background: linear-gradient(to top right,
      rgba(8, 8, 8, 0.743)0%, rgba(8, 8, 8, 0.77)5%, rgba(0, 0, 0, 0.859));
}



.main-content-text {
  margin-left: 100px;
}

.welcome_text {
  font-family: 'Lilita One', sans-serif;
  font-size: 4.5rem;
  background-color: var(--header-color);
  border-radius: 5px;
  padding-left: 5px;
  text-align: left;
  letter-spacing: 0.1rem;
  border-bottom: 3px solid rgba(244, 244, 244, 0.838);
}

.main-content-text .title {
  font-size: 12rem;
  font-family: 'Lilita One', sans-serif;
  line-height: 1;
  padding-left: 5px;
}

.main-content-text .subtitle {
  font-size: 2rem;
  text-align: right;
  font-family: 'Lilita One', sans-serif;
  color: var(--header-color);
  background-color: white;
  padding-right: 5px;
  border-radius: 5px;
  text-transform: uppercase;
}

.vue-projects {
  padding: 20px;
  background-color: var(--project-section2);
  color: white;
  font-size: 2rem;
  font-family: 'Lilita One', sans-serif;
  text-transform: uppercase;

}

.vue-projects .go-vue {
  color: #34495e;
  outline-style: inset;
  margin: 0 5px;
  padding: 0 3px;
}

.vue-projects h2 {
  background-color: #41B883;
  width: 50%;
  padding: 10px;
  border-radius: 5px;
  border-bottom: 3px solid rgba(244, 244, 244, 0.838);
  -webkit-box-shadow: -3px 3px 2px rgba(16, 16, 16, 0.497);
  box-shadow: -3px 3px 2px rgba(16, 16, 16, 0.497);
}

#projects {
  background-color: var(--project-section2);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2.3rem 1fr 2.3rem 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 100px 100px 30px;
  -webkit-column-gap: 2.3rem;
  -moz-column-gap: 2.3rem;
  column-gap: 2.3rem;
  row-gap: 3rem;
}

#projects h1 {
  font-size: 4rem;
  color: rgba(255, 255, 255, 0.864);
  text-align: right;
  grid-column: 1 / -1;
  border-bottom: 3px solid rgba(244, 244, 244, 0.838);
  width: 50%;
  margin: 0 auto 30px;
  padding: 8px;
  background-color: var(--header-color);
  width: 100%;
  border-radius: 5px;
  font-family: 'Lilita One', sans-serif;
  letter-spacing: 0.1rem;
  -webkit-box-shadow: -3px 3px 2px rgba(16, 16, 16, 0.497);
  box-shadow: -3px 3px 2px rgba(16, 16, 16, 0.497);

}

figcaption {
  text-align: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 20px;
  background: -webkit-gradient(linear,
      left bottom, right top,
      from(rgb(8, 8, 8)), color-stop(5%, rgba(8, 8, 8, 0.805)), to(rgba(21, 1, 1, 0.62)));
  background: -o-linear-gradient(bottom left,
      rgb(8, 8, 8)0%, rgba(8, 8, 8, 0.805)5%, rgba(21, 1, 1, 0.62));
  background: linear-gradient(to top right,
      rgb(8, 8, 8)0%, rgba(8, 8, 8, 0.805)5%, rgba(21, 1, 1, 0.62));
  font-size: 1.6rem;
  color: rgba(255, 255, 255, 0.832);
  cursor: pointer;
  -webkit-box-shadow: -3px 3px 2px rgba(16, 16, 16, 0.497);
  box-shadow: -3px 3px 2px rgba(16, 16, 16, 0.497);
}

figure {
  margin-bottom: 55px;
  border-radius: 3px;
  -webkit-box-shadow: -3px 3px 2px rgba(16, 16, 16, 0.497);
  box-shadow: -3px 3px 2px rgba(16, 16, 16, 0.497);
}



figure:hover figcaption:after {
  content: ' /> ';
  color: var(--header-color);
  font-size: 1.4rem;
  padding: 0;
  margin: 0;

}

figure:hover figcaption:before {
  color: var(--header-color);
  content: ' < ';
  font-size: 1.4rem;
  padding: 0;
  margin: 0;
}

#link-btn {
  -ms-grid-column: 2;
  grid-column: 2;
  margin: 30px auto;
  padding: 13px 30px;
  font-size: 2rem;
  border-radius: 3px;
  border: none;
  text-align: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: -webkit-gradient(linear,
      left bottom, right top,
      from(rgb(8, 8, 8)), color-stop(5%, rgba(8, 8, 8, 0.805)), to(rgba(21, 1, 1, 0.62)));
  background: -o-linear-gradient(bottom left,
      rgb(8, 8, 8)0%, rgba(8, 8, 8, 0.805)5%, rgba(21, 1, 1, 0.62));
  background: linear-gradient(to top right,
      rgb(8, 8, 8)0%, rgba(8, 8, 8, 0.805)5%, rgba(21, 1, 1, 0.62));
  color: rgba(255, 255, 255, 0.832);
  font-family: 'Lilita One', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}


#link-btn:hover {
  background: rgba(189, 60, 13, 0.839);
  color: rgba(255, 255, 255, 0.832);
  cursor: pointer;
}

#social-links {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 6rem 1fr;
  grid-template-rows: 1fr 1fr;
  padding: 180px 0px 100px 0;
  row-gap: 6rem;
  background: -webkit-gradient(linear,
      left bottom, right top,
      from(rgba(8, 8, 8, 0.743)), color-stop(5%, rgba(8, 8, 8, 0.77)), to(rgba(0, 0, 0, 0.859)));
  background: -o-linear-gradient(bottom left,
      rgba(8, 8, 8, 0.743)0%, rgba(8, 8, 8, 0.77)5%, rgba(0, 0, 0, 0.859));
  background: linear-gradient(to top right,
      rgba(8, 8, 8, 0.743)0%, rgba(8, 8, 8, 0.77)5%, rgba(0, 0, 0, 0.859));
  border-bottom: 5px solid var(--header-color);
}

#social-links .work {
  grid-column: 1 / -1;
  text-align: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: rgba(255, 255, 255, 0.832);
}

.work h1 {
  font-size: 7rem;
  margin-bottom: 6px;
  font-family: 'Lilita One', sans-serif;
}

.work p {
  font-size: 2rem;
  font-style: italic;
  font-family: 'Lilita One', sans-serif;
}

#social-links .social {
  grid-column: 1 / -1;
  place-items: center;
  text-align: center;
  font-size: 2rem;
  font-family: 'Lilita One', sans-serif;
}


.social a {
  padding: 30px;
  font-size: 2.5rem;
  position: relative;

}

.social i {
  margin-right: 6px;
}

.social a:hover {
  -webkit-transition: bottom 3s ease-in-out linear;
  -o-transition: bottom 3s ease-in-out linear;
  transition: bottom 3s ease-in-out linear;
  bottom: -20px;
}

.main-footer {
  background: -webkit-gradient(linear,
      left bottom, right top,
      from(rgba(8, 8, 8, 0.743)), color-stop(5%, rgba(8, 8, 8, 0.77)), to(rgba(0, 0, 0, 0.859)));
  background: -o-linear-gradient(bottom left,
      rgba(8, 8, 8, 0.743)0%, rgba(8, 8, 8, 0.77)5%, rgba(0, 0, 0, 0.859));
  background: linear-gradient(to top right,
      rgba(8, 8, 8, 0.743)0%, rgba(8, 8, 8, 0.77)5%, rgba(0, 0, 0, 0.859));
  color: rgba(255, 255, 255, 0.832);
  text-align: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 1.5rem;
  padding: 15px;
  font-family: 'Lilita One', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}



/* MEDIA QUARIES */

@media only screen and (max-width: 1200px) {
  #projects {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  #link-btn {
    grid-column: 1 / -1;
  }

  #projects h1 {

    width: 100%;
  }

  #projects {
    padding: 20px;
  }

}

@media only screen and (max-width: 850px) {

  #navbar ul li {
    font-size: 1.5rem;
    text-align: center;
  }

  #welcome-section img {
    display: none;
  }


  #welcome-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0;
    padding: 150px 20px;
    height: 100%;
  }

  #projects {
    padding: 20px;
  }

  #projects .header-projects {
    text-align: center;
  }

  .main-content-text .subtitle {
    text-align: center;

  }

  #welcome-section .main-content-text .welcome_text {
    text-align: center;
  }

  #welcome-section .main-content-text {
    text-align: center;
    margin: 0;
  }

  #projects {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 50px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .vue-projects h2 {
    width: 100%;
    text-align: left;
  }
}